body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

#wrapper {
    padding-top: 40px;
    position: relative;
    width: 530px;
    height: 600px;
    margin: 0 auto;
    text-align: center;
}

/* Estilos para os relés */
.rele1_ligado {
    position: absolute;
    right: -110px;
    top: 220px;
    width: 300px;
    height: 206px;
    background: url('https://raw.githubusercontent.com/gedeanekenshima/HH_FIAP/main/LED_ON.png') no-repeat;
    background-size: contain;
}

.rele1_desligado {
    position: absolute;
    right: -110px;
    top: 220px;
    width: 300px;
    height: 206px;
    background: url('https://raw.githubusercontent.com/gedeanekenshima/HH_FIAP/main/LED_OFF.png') no-repeat;
    background-size: contain;
}

.rele2_ligado {
    position: absolute;
    right: -110px;
    top: 387px;
    width: 300px;
    height: 206px;
    background: url('https://raw.githubusercontent.com/gedeanekenshima/HH_FIAP/main/LED_ON.png') no-repeat;
    background-size: contain;
}

.rele2_desligado {
    position: absolute;
    right: -110px;
    top: 387px;
    width: 300px;
    height: 206px;
    background: url('https://raw.githubusercontent.com/gedeanekenshima/HH_FIAP/main/LED_OFF.png') no-repeat;
    background-size: contain;
}

/* Estilos para os botões */
.botao, .botao_2 {
    display: inline-block;
    padding: 10px 40px;
    margin: 5px;
    background-color: #ed145b;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-size: 28px;
    font-weight: bold;
    width: 100px;
    text-align: center;
    transition
