/* CSS para Automacao Residencial */
body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

#wrapper {
    padding-top: 40px;
    position: relative;
    width: 530px;
    height: 600px;
    margin: 0 auto;
    text-align: center;
}

.rele1_ligado, .rele1_desligado, .rele2_ligado, .rele2_desligado {
    position: absolute;
    right: -110px;
    width: 300px;
    height: 206px;
    border: none;
    background-size: contain;
    background-repeat: no-repeat;
}

.rele1_ligado {
    top: 220px;
    background-image: url('https://raw.githubusercontent.com/gedeanekenshima/HH_FIAP/main/LED_ON.png');
}

.rele1_desligado {
    top: 220px;
    background-image: url('https://raw.githubusercontent.com/gedeanekenshima/HH_FIAP/main/LED_OFF.png');
}

.rele2_ligado {
    top: 387px;
    background-image: url('https://raw.githubusercontent.com/gedeanekenshima/HH_FIAP/main/LED_ON.png');
}

.rele2_desligado {
    top: 387px;
    background-image: url('https://raw.githubusercontent.com/gedeanekenshima/HH_FIAP/main/LED_OFF.png');
}

.botao, .botao_2 {
    background-color: #ed145b;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    color: white;
    font-family: arial;
    font-size: 28px;
    font-weight: bold;
    padding: 10px 40px;
    text-decoration: none;
    width: 100px;
    text-align: center;
    transition: background-color 0.2s;
}

.botao:hover, .botao_2:hover {
    background-color: #ff3a7a;
}

.botao:active, .botao_2:active {
    background-color: #d01251;
}
