body {
    margin: 0;
    padding: 20px;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

#wrapper {
    position: relative;
    width: 530px;
    margin: 0 auto;
    text-align: center;
}

/* Estilos para os relés */
.rele-ligado, .rele-desligado {
    position: absolute;
    width: 300px;
    height: 206px;
    background-size: contain;
    background-repeat: no-repeat;
}

#rele1 {
    top: 220px;
    right: -110px;
}

#rele2 {
    top: 387px;
    right: -110px;
}

.rele-ligado {
    background-image: url('https://raw.githubusercontent.com/gedeanekenshima/HH_FIAP/main/LED_ON.png');
}

.rele-desligado {
    background-image: url('https://raw.githubusercontent.com/gedeanekenshima/HH_FIAP/main/LED_OFF.png');
}

/* Estilos para os botões */
.botao {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ed145b;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-size: 28px;
    transition: background-color 0.2s;
}

.botao:hover {
    background-color: #ff3a7a;
}

.botao:active {
    background-color: #d01251;
}

#botao1 {
    position: absolute;
    right: 230px;
    top: 250px;
}

#botao2 {
    position: absolute;
    right: 230px;
    top: 417px;
}
